
body.container{
    margin: 0px;
    padding: 0px;

}


header{
    
    background-image: url(file:///Users/etneciv2/desafio_maquetado/images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
   
} 

nav{
    margin: 20px;
    display: flex;
    justify-content: space-between;
}


#boton button{
    width: 200px;
    height: 40px;
    background-color :white;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 1px 10px;
    font-family: arial;
    font-size: 15px;

}
/*
#boton{
    position: absolute;
    top:15px;
    bottom: 0;
    left: 1140px;
    right:0;
}
*/
#boton{
    margin-left: auto;
    margin-right: 15%;
}
#boton{
width: 150px;
height:50px ;
}

.container{
   
    display: flex;
  flex-direction: column;
}


 h1{
   
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;

 }


 p{
     top: auto;
     text-align: center;
     


  }
 .text{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

.ilustration img{

    width: 90%;
    margin: auto;
    display: block;


}   
 .text button{
    
    border: none;
    background-color: hsl(322, 100%, 66%);
    border-radius: 35px;
    box-shadow: 0 0 5px hsl(208, 11%, 55%);
    color: white;
    padding: 5px 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    width: 300px;
    height: 50px;
/* 
    background-color: rgb(240, 13, 191);
    border: none;
    border-radius: 20px;
    font-family: arial;
    font-size: 15px; */
       
}

@media only screen and (min-width: 1024px){
.container{
    flex-direction: row;
}
}
