*{
    font-family: 'Open Sans', sans-serif;
}
footer{
    background-color:hsl(192, 100%, 9%);
    color: white;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 100px;
    padding-bottom: 20px;
}

footer p span{
    padding-right: 10px;
}

footer p {
margin-bottom: 40px;
margin-top: 40px;
text-align: left;
}

footer p .location{
    margin-left: 5px;
}


footer ul{
    padding-left: 5px;
    list-style: none;
    margin-top: 20px;
}

footer ul li{
    margin-bottom: 20px;
    margin-top: 20px;
}

footer div.icons{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    font-size: 24px;
}
footer div.icons div{
    border: 1px solid white;
    height: 40px;
    width: 40px;
    border-radius: 50px;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.license{
    font-size: 14px;
    display: flex;
    justify-content: center;
}


@media only screen and (min-width: 1024px){
    footer {
        display: flex;
      justify-content: space-evenly;
         }

   section.one{
flex-grow: 1;
margin-left: 40px;
margin-right: 20px;
}

section.two{
    flex-grow: 1;
    margin-left: 20px;
    margin-right: 20px;

}

section.three{
    flex-grow: 1;
    margin-right: 20px;
    margin-left: 20px;
}

section.four{
    flex-grow: 1;
    margin-right: 40px;
} 

}
